@model List<Web.Buyify.Models.CartItem>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/panier.css" asp-append-version="true" />
    <title>Panier</title>
</head>
<body>
    <div class="text-center">
        <div class="catmag-item-collection-view1">
            <a href="">
                <img class="img-item-mag1" src="https://fr.infosgabon.com/wp-content/uploads/2014/09/Airtel-Money.jpg" />
            </a>
            <a href="">
                <img class="img-item-mag1" src="https://www.impots-et-taxes.com/img/mobicash.JPG" />
            </a>
            <a href="">
                <img class="img-item-mag1" src="https://www.01net.com/app/uploads/2020/07/MEA-PayPal-768x433.jpg" />
            </a>
            <a href="">
                <img class="img-item-mag1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Visa_Inc._logo.svg/800px-Visa_Inc._logo.svg.png" />
            </a>
        </div>
    </div>

    <div class="text-center">
        <div>
            <img class="img-backgound-panier" src="https://m.media-amazon.com/images/G/08/cart/empty/kettle-desaturated._CB424694058_.svg" />
        </div>
    </div>


    <div class="row">
            
                @foreach (var item in Model)
                {
                <div class="item">
                <div class="item-image img">
                        <img src="@item.Img"/>
                    </div>

                    <div class="produit">
                    <p><b>@item.ProductName</b></p>
                        <p>@item.ProductDetails</p>
                        
                    </div>
                    <div>
                    
                    </div>
                        <div>
                            <form asp-controller="Cart" asp-action="UpdateCartItem" method="post">
                                <input type="hidden" name="productId" value="@item.ProductId" />
                                <input class="input-group-text" type="number" name="quantity" value="@item.Quantity" />
                                <button type="submit">Mettre à jour</button>
                            </form>
                        </div>
                <div class="div-supp-panier">
                                <p class="prix-panier">@item.Price F CFA</p>
                    <p class="total-panier"><b>@(item.Price * item.Quantity) F CFA</b></p>
                        </div>
                        
                        <div class="div-supp-panier">
                            <form asp-controller="Cart" asp-action="RemoveFromCart" method="post">
                                <input type="hidden" name="productId" value="@item.ProductId" />
                                <button class="add-panier btn-add-articles"  type="submit">Supprimer</button>
                            </form>
                        </div>
                    </div>
                }
        </div>


       



        <form asp-controller="Cart" asp-action="ClearCart" method="post">
            <button type="submit">Vider le panier</button>
        </form>
        </div>
</body>
</html>